{% extends "pages/mytemp.html" %}

{% block title %}
Shopping
{% endblock %}

{% block content %}
<body style="background-color: whitesmoke;">
<div class="row">
    <div class="col-md-2">
        <div style="background-color: white;border-radius: 10px;height: 1080px;">
        <div style="width: 100%;color: white;background-color:rgb(135, 135, 231);">
            <center>Danh mục</center>
        </div>
        <p></p>
        
        <div class="card" style="width: 100%;">
            <a style="background-color: #bdcdec;border-color: #bdcdec;" class="btn" href="dodientu">Đồ điện tử</a>
        </div>
        <p></p>
        <div class="card" style="width: 100%;">
            <a style="background-color: #FFD6A5;border-color: #FFD6A5;" class="btn" href="trangsuc" >Trang sức</a>
        </div>
        <p></p>
        <div class="card" style="width: 100%;">
            <a style="background-color: #FFFEC4;border-color: #FFFEC4;" class="btn" href="bachhoa">Bách hóa</a>
        </div>
            
        </div>
    </div>



<div class="col">
<a class="btn" href="https://www.bachhoaxanh.com/thit-ga/canh-ga-giua-nhap-khau-dong-lanh-tui-500g-9-11-mieng"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/8790/297340/bhx/canh-ga-giua-nhap-khau-dong-lanh-500g-12-17-mieng-202306130852046378.jpg">
    <div class="card-body"> 
        <p class="card-text">Cánh gà giữa nhập khẩu đông lạnh 500g (12 - 17 miếng)</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">49.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.bachhoaxanh.com/cu/bap-cai-trang-tui-500gr"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/8785/275316/bhx/bap-cai-trang-tui-500gr-1-bap-202205201654554145.jpg">
    <div class="card-body"> 
        <p class="card-text">Bắp cải trắng 500g - 600g</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">2.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.bachhoaxanh.com/thit-ga/dui-toi-ga-nhap-khau-dong-lanh-tui-500g-2-4-cai"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/8790/297315/bhx/dui-toi-ga-nhap-khau-dong-lanh-550g-650g-2-4-cai-202306130912196760.jpg">
    <div class="card-body"> 
        <p class="card-text">Đùi tỏi gà nhập khẩu đông lạnh 550g - 650g (2-4 cái)</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">40.000đ</h5>
    </div>
  </div>
</a>


</div>
<!-- hey -->






<div class="col">
<button class="btn" href="https://www.bachhoaxanh.com/trung/hop-10-trung-ga-happy-egg"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/8783/293917/bhx/trung-ga-happy-egg-hop-10-qua-202306241535453774.jpg">
    <div class="card-body"> 
        <p class="card-text">Trứng gà Happy Egg hộp 10 quả</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">26.700đ</h5>
    </div>
  </div>
</button>

<button class="btn" href="https://www.bachhoaxanh.com/kem/2-cay-kem-socola-vani-nhan-dau-iberri-cay-68g"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/7462/309382/bhx/2-cay-kem-socola-vani-nhan-dau-iberri-68g-202306151112221420.jpg">
    <div class="card-body"> 
        <p class="card-text">2 cây kem socola vani nhân dâu Iberri 68g</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">17.000đ</h5>
    </div>
  </div>
</button>

<button class="btn" href="https://www.bachhoaxanh.com/banh-dong-cac-loai/pizza-jambon-xuc-xich-mama-food-120g"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/10778/241416/bhx/pizza-jambon-xuc-xich-mama-food-120g-202106101045493800.jpg">
    <div class="card-body"> 
        <p class="card-text">Pizza jambon xúc xích Mama Food 120g</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">21.500đ</h5>
    </div>
  </div>
</button>

</div>





<!-- hey2 -->
<div class="col">
<button class="btn" href="https://www.bachhoaxanh.com/xuc-xich-tuoi/xuc-xich-winner-cp-goi-500g"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/7618/286282/bhx/xuc-xich-winner-cp-goi-500g-202208191016074569.jpg">
    <div class="card-body"> 
        <p class="card-text">Xúc xích Winner C.P gói 500g</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title"></h5>
        <h5 class="card-title">46.000đ</h5>
    </div>
  </div>
</button>

<button class="btn" href="https://www.bachhoaxanh.com/mi/10-goi-mi-3-mien-gold-bo-ham-rau-thom-goi-75g"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/2565/308297/bhx/10-goi-mi-3-mien-gold-bo-ham-rau-thom-75g-202305300944271978.jpg">
    <div class="card-body"> 
        <p class="card-text">10 gói mì 3 Miền Gold bò hầm rau thơm 75g</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">48.500đ</h5>
    </div>
  </div>
</button>

<button class="btn" href="https://www.bachhoaxanh.com/sua-tuoi/thung-24-bich-sua-tuoi-tiet-trung-it-duong-dutch-lady-canxi-protein-180ml"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/2386/241457/bhx/-202307011458340799.jpg">
    <div class="card-body"> 
        <p class="card-text">Thùng 24 bịch sữa tiệt trùng ít đường Dutch Lady Canxi & Protein 180ml</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">135.200đ</h5>
    </div>
  </div>
</button>

</div>

</body>
{% endblock %}