{% extends "pages/mytemp.html" %}

{% block title %}
Shopping
{% endblock %}

{% block content %}
<body style="background-color: whitesmoke;">
<div class="row">
    <div class="col">
        <div style="background-color: white;border-radius: 10px;height: 1000px;">
        <div style="width: 40%;color: white;background-color:rgb(135, 135, 231);">
            <center>Danh mục</center>
        </div>
        <p></p>
        
        <div class="card" style="width: 40%;">
            <a style="background-color: #bdcdec;border-color: #bdcdec;" class="btn" href="dodientu">Đồ điện tử</a>
        </div>
        <p></p>
        <div class="card" style="width: 40%;">
            <a style="background-color: #FFD6A5;border-color: #FFD6A5;" class="btn" href="trangsuc" >Trang sức</a>
        </div>
        <p></p>
        <div class="card" style="width: 40%;">
            <a style="background-color: #FFFEC4;border-color: #FFFEC4;" class="btn" href="bachhoa">Bách hóa</a>
        </div>
          
    </div>
    </div>



<div class="col">
<a class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</a>

<a class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</a>

<a class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</a>


</div>
<!-- hey -->






<div class="col">
<button class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</button>

<button class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</button>

<button class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</button>

</div>





<!-- hey2 -->
<div class="col">
<button class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</button>

<button class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</button>

<button class="btn"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="...">
    <div class="card-body"> 
        <p class="card-text">.......</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">0.000đ</h5>
    </div>
  </div>
</button>

</div>
</body>
{% endblock %}