{% extends "pages/mytemp.html" %}

{% block title %}
Shopping
{% endblock %}
{% load static %}
{% block content %}
<body style="background-color: whitesmoke;">
<div class="row">
    <div class="col-md-2">
        <div style="background-color: white;border-radius: 10px;height: 1200px;">
        <div style="width: 100%;color: white;background-color:rgb(135, 135, 231);">
            <center>Danh mục</center>
        </div>
        <p></p>
        
        <div class="card" style="width: 100%;">
            <a style="background-color: #bdcdec;border-color: #bdcdec;" class="btn" href="dodientu">Đồ điện tử</a>
        </div>
        <p></p>
        <div class="card" style="width: 100%;">
            <a style="background-color: #FFD6A5;border-color: #FFD6A5;" class="btn" href="trangsuc" >Trang sức</a>
        </div>
        <p></p>
        <div class="card" style="width: 100%;">
            <a style="background-color: #FFFEC4;border-color: #FFFEC4;" class="btn" href="bachhoa">Bách hóa</a>
        </div>
          
    </div>
    </div>



<div class="col">
    <a class="btn" href="https://www.thegioididong.com/may-tinh-de-ban/asus-s500sd-i3-312100037w#top-color-images-gallery-11"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/5698/305830/asus-s500sd-i3-312100037w-1.jpg">
        <div class="card-body"> 
            <p class="card-text">Asus S500SD i3 12100/8GB/256GB/Win11 (312100037W) </p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">10.890.000₫</h5>
        </div>
      </div>
    </a>

    <a class="btn" href="https://www.thegioididong.com/laptop/lenovo-ideapad-1-15amn7-r5-82vg0061vn#top-tskt"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/44/303562/lenovo-ideapad-1-15amn7-r5-82vg0061vn-glr-2.jpg">
        <div class="card-body"> 
            <p class="card-text">Laptop Lenovo IdeaPad 1 15AMN7 R5 7520U/8GB/256GB/Win11 (82VG0061VN)</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">9.490.000₫ </h5>
        </div>
      </div>
    </a>

<a class="btn" href="https://www.thegioididong.com/tai-nghe/tai-nghe-chup-tai-mozard-ip-878-den-reu"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/54/209307/tai-nghe-chup-tai-mozard-ip-878-den-reu-den-9-org.jpg">
    <div class="card-body"> 
        <p class="card-text">Tai nghe Chụp Tai Mozard IP-878 </p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">140.000đ</h5>
    </div>
  </div>
</a>


</div>
<!-- hey -->






<div class="col">
<a class="btn" href="https://www.thegioididong.com/chuot-may-tinh/chuot-khong-day-rapoo-b2"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/86/308678/chuot-khong-day-rapoo-b2-1.jpg">
    <div class="card-body"> 
        <p class="card-text">Chuột không dây Rapoo B2</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">100.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.thegioididong.com/sac-dtdd/pin-sac-du-phong-10000mah-type-c-pd-qc3-0-20w-xmobile-y73#top-color-images-gallery-6"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/57/308509/pin-sac-du-phong-10000mah-type-c-pd-qc3-0-20w-xmobile-y73-4-1.jpg">
    <div class="card-body"> 
        <p class="card-text">Pin sạc dự phòng 10000mAh Type C PD QC3.0 20W Xmobile Y73</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">800.000₫</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.thegioididong.com/thiet-bi-mang/bo-phat-song-wifi-router-chuan-wifi-6-asus-ax1800hp-den#top-color-images-gallery-11"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/4727/283710/bo-phat-song-wifi-router-chuan-wifi-6-asus-ax1800hp-den-1-1.jpg">
    <div class="card-body"> 
        <p class="card-text">Router Wifi Chuẩn Wifi 6 Asus AX1800HP </p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">1.320.000₫</h5>
    </div>
  </div>
</a>

</div>





<!-- hey2 -->
<div class="col">
<a class="btn" href="https://kyma.vn/may-anh-canon-eos-m200-kit-efm1545mm-f3563-is-stm-den.html?gad=1&gclid=CjwKCAjwh8mlBhB_EiwAsztdBNkwEpkc4JjsW46lO9w6P4t3-Eg4KS688NVLLkQQT3aRzefR9Y4GYxoCpBQQAvD_BwE"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://kyma.vn/storedata/images/product/may-anh-canon-eos-m200-kit-efm1545mm-f3563-is-stm-den.webp">
    <div class="card-body"> 
        <p class="card-text">Máy ảnh Canon EOS M200 (Kit EF-M 15-45 IS STM) Đen</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title"></h5>
        <h5 class="card-title">15.390.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.thegioididong.com/thiet-bi-mang/usb-wifi-150mbps-tp-link-tl-wn722n-trang#2-gia"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/4727/225015/usb-wifi-150mbps-tp-link-tl-wn722n-trang-2-org.jpg">
    <div class="card-body"> 
        <p class="card-text">USB Wifi 150Mbps TP-Link TL-WN722N</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">180.000₫</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://vietgear.vn/dong-ho-de-ban-chu-nhat-go-sang-chanh-thanh-lich/"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://vietgear.vn/wp-content/uploads/2018/10/1-den-led-trang-2-1.jpg">
    <div class="card-body"> 
        <p class="card-text">Đồng hồ led để bàn, đồng hồ gỗ led hình chữ nhật</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">250.000 ₫

        </h5>
    </div>
  </div>
</a>

</div>
    
</body>        
{% endblock %}