{% extends "pages/mytemp.html" %}

{% block title %}
Shopping
{% endblock %}
{% block content %}
{% load static %}
<body style="background-color: whitesmoke;">
  

        <div class="row">
        <div class="col-md-2">
            <div style="background-color: white;border-radius: 10px;height: 3000px;">
            <div style="width: 100%;color: white;background-color:rgb(135, 135, 231);">
                <center>Danh mục</center>
            </div>
            <p></p>
            
            <div class="card" style="width: 100%;">
                <a style="background-color: #bdcdec;border-color: #bdcdec;" class="btn" href="dodientu">Đồ điện tử</a>
            </div>
            <p></p>
            <div class="card" style="width: 100%;">
                <a style="background-color: #FFD6A5;border-color: #FFD6A5;" class="btn" href="trangsuc" >Trang sức</a>
            </div>
            <p></p>
            <div class="card" style="width: 100%;">
                <a style="background-color: #FFFEC4;border-color: #FFFEC4;" class="btn" href="bachhoa">Bách hóa</a>
            </div>
              
        </div>
        </div>



<div class="col">
    <a class="btn" href="https://www.thegioididong.com/may-tinh-de-ban/asus-s500sd-i3-312100037w#top-color-images-gallery-11"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="https://cdn.tgdd.vn/Products/Images/5698/305830/asus-s500sd-i3-312100037w-1.jpg">
        <div class="card-body"> 
            <p class="card-text">Asus S500SD i3 12100/8GB/256GB/Win11 (312100037W) </p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">10.890.000₫</h5>
        </div>
      </div>
    </a>

    <a class="btn" href="https://www.thegioididong.com/laptop/lenovo-ideapad-1-15amn7-r5-82vg0061vn#top-tskt"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="{% static 'bootstrap-5.0.2-dist\images\levono_lap.jpg' %}">
        <div class="card-body"> 
            <p class="card-text">Laptop Lenovo IdeaPad 1 15AMN7 R5 7520U/8GB/256GB/Win11 (82VG0061VN)</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">9.490.000₫ </h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>
    
</div>
</body> 
<!-- hey -->





<div class="col">
    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

</div>






<!-- hey2 -->
<div class="col">
    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>

    <a class="btn"><div class="card" style="width: 18rem;">
        <img class="card-img-top" src="...">
        <div class="card-body"> 
            <p class="card-text">.......</p>
            <h5 class="card-title"></h5>
            <h5 class="card-title">0.000đ</h5>
        </div>
      </div>
    </a>
</div>
{% endblock %}