{% extends "pages/mytemp.html" %}

{% block title %}
lesson 4- Teky
{% endblock %}

{% block content %}
<body style="background-color: whitesmoke;">
<div class="row">
    <div class="col-md-2">
        <div style="background-color: white;border-radius: 10px;height: 1300px;">
        <div style="width: 100%;color: white;background-color:rgb(135, 135, 231);">
            <center>Danh mục</center>
        </div>
        <p></p>
        
        <div class="card" style="width: 100%;">
            <a style="background-color: #bdcdec;border-color: #bdcdec;" class="btn" href="dodientu">Đồ điện tử</a>
        </div>
        <p></p>
        <div class="card" style="width: 100%;">
            <a style="background-color: #FFD6A5;border-color: #FFD6A5;" class="btn" href="trangsuc" >Trang sức</a>
        </div>
        <p></p>
        <div class="card" style="width: 100%;">
            <a style="background-color: #FFFEC4;border-color: #FFFEC4;" class="btn" href="bachhoa">Bách hóa</a>
        </div>
          
    </div>
    </div>



<div class="col">
<a class="btn" href="https://www.pnj.com.vn/lac-bac-dinh-da-pnjsilver-qtxmx060001.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/thumbnails/485/485/detailed/154/slqtxmx060001-lac-bac-dinh-da-pnjsilver-1.png">
    <div class="card-body"> 
        <p class="card-text">Lắc tay Bạc đính đá PNJSilver QTXMX060001</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">858.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.pnj.com.vn/bong-tai-bac-pnjsilver-0000x060003.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/150/sb0000x060003-bong-tai-bac-pnjsilver-1.png">
    <div class="card-body"> 
        <p class="card-text">Bông tai Bạc PNJSilver 0000X060003</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">423.750đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.pnj.com.vn/hat-charm-bac-dinh-da-pnjsilver-hinh-tuan-loc-xmxmh060008.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/144/sixmxmh060008-hat-charm-bac-dinh-da-pnjsilver-hinh-tuan-loc-1.png">
    <div class="card-body"> 
        <p class="card-text">Hạt charm Bạc đính đá PNJSilver hình tuần lộc XMXMH060008</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">535.500đ</h5>
    </div>
  </div>
</a>


</div>
<!-- hey -->






<div class="col">
<a class="btn" href="https://www.pnj.com.vn/day-co-tre-em-bac-pnjsilver-0000c060005.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/141/SC0000C060005-Day-co-tre-em-Bac-Disney-PNJ-Winnie-The-Pooh-1.png">
    <div class="card-body"> 
        <p class="card-text">Dây cổ trẻ em Bạc Disney|PNJ Winnie The Pooh 0000C060005</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">715.500đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.pnj.com.vn/nhan-bac-dinh-da-pnjsilver-xmxmw060068.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/135/snxmxmw060068-nhan-bac-dinh-da-cz-pnjsilver-dai-3-line-gan-cz-1.png">
    <div class="card-body"> 
        <p class="card-text">Nhẫn Bạc đính đá CZ PNJSilver đai 3 line gắn CZ XMXMW060068</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">521.500đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.pnj.com.vn/nhan-bac-dinh-da-pnjsilver-xmxmw060069.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/135/snxmxmw060069-nhan-bac-dinh-da-pnjsilver-1.png">
    <div class="card-body"> 
        <p class="card-text">Nhẫn Bạc đính đá PNJSilver XMXMW060069</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">647.500đ</h5>
    </div>
  </div>
</a>

</div>





<!-- hey2 -->
<div class="col">
<a class="btn" href="https://www.pnj.com.vn/day-chuyen-bac-pnjsilver-fc035.000.html?atm_source=recommentation&atm_medium=category&atm_content=SD0000K000023"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/31/sd0000k000023-day-chuyen-bac-pnjsilver-01.png">
    <div class="card-body"> 
        <p class="card-text">Dây chuyền bạc PNJSilver 0000K000023</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title"></h5>
        <h5 class="card-title">325.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.pnj.com.vn/day-chuyen-bac-day-dan-dap-chu-s-pnjsilver-sx040.000.html?atm_source=recommentation&atm_medium=category&atm_content=SD0000K000047"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/31/sd0000k000047-day-chuyen-bac-pnjsilver-day-dan-dap-chu-s.png">
    <div class="card-body"> 
        <p class="card-text">Dây chuyền bạc PNJSilver dây đan dập chữ S 0000K000047</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">325.000đ</h5>
    </div>
  </div>
</a>

<a class="btn" href="https://www.pnj.com.vn/vong-tay-bac-disneypnj-mickey-0000w000003.html"><div class="card" style="width: 18rem;">
    <img class="card-img-top" src="https://cdn.pnj.io/images/detailed/80/sv0000w000003-vong-tay-bac-disneypnj-mickey-01.png">
    <div class="card-body"> 
        <p class="card-text">Vòng tay bạc Disney|PNJ Mickey 0000W000003</p>
        <h5 class="card-title"></h5>
        <h5 class="card-title">927.500đ</h5>
    </div>
  </div>
</a>

</div>
</body>
       
{% endblock %}